h1{
    margin-top: -300px;
    margin-left: 30px;
    color: aquamarine;
    margin-bottom: 320px;
}

<h6 style="color: aqua;text-align: bottom;">This is Heading</h6>
    <h6>This is Heading</h6>
    <h6>This is Heading</h6>
   
    